.name-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    background-image: url('../../../../Assets/Images/binary.png');
    background-size: contain;
    height: 630px;
    opacity: 1;
    animation: scrollRight 2s ease-in-out forwards;
}

@keyframes scrollRight {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: #d2d2d2;
}

.arrow {
    font-size: 2rem;
    color: #ff70c1;
}

.about-me-details {
    padding: 40px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 0.1s forwards;
    /* Delay for smoother transition */
}

/* Animation keyframes for fading in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    margin-top: 20px;
}

.gallery h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-items: center;
}

.photo-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

.growth-story h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.growth-story p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}