.name-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    background-image: url('../../Assets/Images/binary.png');
    background-size: contain;
    height: 630px;
    opacity: 1;
    animation: fadeOut 4s ease-in-out forwards;
    margin-bottom: 80px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: #d2d2d2;
}

.arrow {
    font-size: 2rem;
    color: #ff70c1;
}

.about-me-details {
    padding: 40px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 0.1s forwards;
    margin-bottom: 80px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 10%;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.intro p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-title{
    font-size: 24px;
    padding: 2%
}
.gallery {
    margin-top: 40px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 15px;
}

.gallery:hover {
    overflow-x: auto;
    scroll-behavior: smooth;
}
.gallery::-webkit-scrollbar {
    height: 5px;

}

.gallery::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar-thumb {
    background: #ff70c1;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.gallery::-webkit-scrollbar-thumb:hover {
    background: #ff439f;
}

.photo-grid {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.photo-grid img {
    width: auto;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

.growth-story {
    margin-top: 80px;
    margin-bottom: 80px;
}

.growth-story h3 {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.growth-story p {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}