/* General container styling for the project grid */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 10%;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(199, 137, 255, 1) 0%, rgba(26, 11, 46, 1) 42%);
}

/* Styling for each project card */
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 5px;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    min-height: 100%;
}

.project-card:hover {
    transform: translateY(-10px);
    /* Lift on hover */
}

/* Header for featured tag and project title */
.project-header {
    text-align: left;
    margin-bottom: 15px;
}

.featured-tag {
    font-size: 12px;
    color: #ff79c6;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.project-title {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

/* Description text */
.project-description {
    font-size: 16px;
    line-height: 1.5;
    /* flex-grow: 1; */
}

/* Fixed size for image container */
.project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

/* Image styling to maintain aspect ratio */
.project-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Link icons for GitHub and demo */
.project-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.project-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.project-links a:hover {
    color: #ff79c6;
}

/* Responsive styles for tablets (500px - 768px) */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
        padding: 8%;
    }

    .project-card {
        padding: 18px;
        min-height: 450px;
    }

    .project-preview {
        height: 250px;
    }

    .project-title {
        font-size: 18px;
    }

    .project-description {
        font-size: 14px;
    }

    .project-links a {
        font-size: 18px;
    }
}

/* Responsive styles for mobile screens (<500px) */
@media (max-width: 499px) {
    .project-grid {
        display: flex;
        flex-direction: column;
    }
    
    .project-card {
        flex: 1 1 auto;
        padding: 15px;
        min-height: 450px;
    }

    .project-title {
        font-size: 16px;
        text-align: center;
    }

    .project-description {
        font-size: 11px;
        text-align: center;
    }

    .project-preview {
        height: 220px;
    }

    .project-links {
        justify-content: center;
        gap: 15px;
    }

    .project-links a {
        font-size: 16px;
    }
}