.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header img{
    width: 100px;
    height: 100px;
}
.header ul{
    display: flex;
    list-style: none;
    text-align: center;
}
.header li{
    display: flex;
    min-width: 130px;
}
.header a{
    text-decoration: none;
    color: antiquewhite; 
}